<ul class="nav nav-tabs">
	<li role="presentation"><a ui-sref="home">Home</a></li>
	<li role="presentation"><a ui-sref="contatti">Contatti</a></li>
	<li role="presentation"><a ui-sref="chisiamo.about">Chi Siamo</a></li>
</ul>
