<h1>{{titolo}}</h1>
<span class="link" ui-sref-active="attivo" ui-sref="chisiamo.about">About</span></br>
<span class="link" ui-sref-active="attivo" ui-sref="chisiamo.mission">Mission</span>
<div ui-view></div>
